.gradle
build/
diagrams/
gradle/
!**/src/main/**
.dockerignore
.gitignore
!build.gradle
Dockerfile
gradlew
README.md
!settings.gradle

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
